# Credenciales y secretos
.env
.env.local
.env.*.local
*.pem

# Entornos Python
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.eggs/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Salidas y caché
*.log
.cache/

# Opcional: ignorar datos generados si no quieres versionarlos
# data/s3/
# data/rds/
# data/mongodb/
